apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "plex2letterboxd2.fullname" . }}
  labels:
    {{- include "plex2letterboxd2.labels" . | nindent 4 }}
spec:
  schedule: {{ .Values.schedule | quote }}
  jobTemplate:
    spec:
      template:
        metadata:
          {{- with .Values.podAnnotations }}
          annotations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        spec:
          restartPolicy: OnFailure
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          containers:
          - name: plex2letterboxd2
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            envFrom:
            - secretRef:
                name: {{ .Values.secretName }}
            resources:
              {{- toYaml .Values.resources | nindent 14 }}
